$gridSpacing: 10px;

.repoGrid {
    display: flex;
    flex-wrap: wrap;
    margin: -$gridSpacing;
    .repoCard {
        width: 100%;
        height: 215px;
        margin: $gridSpacing;
        box-shadow: 20px 20px 60px 0 rgb(129 184 254 / 10%);
        border-radius: 15px;
        @include md {
            width: calc(100% / 2 - 2 * #{$gridSpacing});
        }
        @include lg {
            width: calc(100% / 3 - 2 * #{$gridSpacing});
        }
        .cardSubheader {
            display: flex;
            flex-direction: column;
        }

        .cardAvatar {
            width: 50px;
            height: 50px;
            color: #ffffff;
            background-color: $pink;
        }
    }
}
