.searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        width: 100%;
        max-width: 370px;
        margin-bottom: 50px;
    }
    &.minimized {
        margin: 100px 0;
        flex-direction: column;
        justify-content: center;
        @include md {
            flex-direction: row;
        }
        .logo {
            width: 200px;
            @include md {
                margin-bottom: 0;
                margin-right: 40px;
            }
        }
    }
    .searchRow {
        display: flex;
    }
}

.searchButtonRoot {
    &.searchButtonContained {
        margin-left: 10px;
        height: 40px;
        color: #ffffff;
        background-color: $blue;
        &:hover {
            background-color: darken($blue, 30%);
        }
    }
}
