.profileHeader {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    @include md {
        flex-direction: row;
        justify-content: space-between;
    }
}

.profileInfo {
    display: flex;
    .profileAvatar {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
}

.profileDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .profileUsername {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #25253e;
    }
    .profileLocation {
        display: flex;
        align-items: center;
        color: $blue;
    }
}

.toggleButtonGroupWrapper {
    display: flex;
    align-items: center;
    align-self: flex-end;
    @include md {
        align-self: center;
    }
    .toggleButtonGroupLabel {
        margin-right: 10px;
    }
}
